@use "sass:map";
@use "src/scss/mixins" as *;
@use "src/scss/variables" as *;

ol {
  overflow-x: auto;
  overflow-y: hidden;
  font-family: "Consolas";
  @include scroll-bar(5px, 5px, map.get($accent-palette, 500), map.get($accent-palette, 50));
}

ol li {
  margin: 0;
  white-space: pre;
  line-height: 18px;
  padding: 0 3px 0 10px;
  list-style-position: outside;
  list-style: decimal-leading-zero;
  border-left: 3px solid map.get($primary-palette, 500);
}
