/* You can add global styles to this file, and also import other style files */
@use 'sass:map';
@use 'scss/mixins' as *;
@use 'scss/variables' as *;
@use '@angular/material' as mat;

$main-typography: mat.define-typography-config(
  $font-family: $font-family,
);

$main-theme: mat.define-light-theme((
 color: (
   primary: mat.define-palette($primary-palette),
   accent: mat.define-palette($accent-palette),
 )
));

// Emit theme-dependent styles for common features used across multiple components.
@include mat.core-theme($main-theme);
@include mat.core($main-typography);
// Emit styles for MatButton based on `$my-theme`. Because the configuration
// passed to `define-light-theme` omits typography, `button-theme` will not
// emit any typography styles.
@include mat.button-theme($main-theme);
@include mat.tabs-theme($main-theme);

html, body { 
  height: 100%;
}

body { 
  margin: 0;
  font-family: 'Comfortaa', cursive;
}

.mat-drawer-inner-container {
  @include scroll-bar(5px, 5px);
}

.language-icon {
  margin-right: 5px;
}