<mat-toolbar class="header">
  <mat-toolbar-row>
    <button mat-icon-button color="primary" title="Menu" (click)="onClick()">
      <mat-icon>menu</mat-icon>
    </button>
    <button mat-button color="primary" title="Design Patterns" routerLinkActive="header-link-active"
      routerLink="/design-patterns">
      Design Patterns
    </button>
    <button mat-button color="primary" title="Algorithms" routerLinkActive="header-link-active"
      routerLink="/algorithms">
      Algorithms
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<button mat-fab color="primary" title="Menu" (click)="onClick()">
  <mat-icon>menu</mat-icon>
</button>